.previews.social-feed {
  position: relative;
  .preview {
    text-align: center;
    margin-bottom: $baseline * 2;
    position: relative;
    @include grid-column(1);
    &:nth-child(2n) {
      @include media(mobile) {
        border: none;
      }
    }
    @include media(mobile) {
      h3 {
        margin-top: 0;
      }
    }
    &.strapline {
      @include grid-column(1);
    }
    .sub-section-heading {

      padding: $baseline;
      @include h2;
      margin-top: 0;
      @include media(mobile) {
        @include h2;
        margin-top: 0;
        margin-bottom: $baseline*0.25;
      }
    }
    img {
      margin-top: 0;
      margin-bottom: 2em;
      width: 100%;
      @include media(mobile) {
        margin-bottom: 0;
        width: 100%;
      }
      @media print {
        display: none;
      }
    }
    .img-arrow {
      background-image: url("./components/banner/SSG_Arrow_White.svg");
      background-repeat:  no-repeat;
      background-size: initial;
      background-position-x: 0;
      background-position-y: center;   
      position: absolute;
      top: 0;
      left: -$gutter*6;
      bottom: -1px;
      right: 0;
      @include media(mobile) {
        left: -$gutter*5;
      }
    }
    .meta {
      @include smaller;
      margin-top: 0;
      margin-bottom: 0;
      + .sub-section-heading {
        margin-top: 0;
      }
      @include media(mobile) {
        margin-top: $baseline*0.125;
        margin-bottom: $baseline*0.125;
      }
    }
    &.right {
      float: right;
    }
    .social {
      text-align: center;
      margin-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 60px;
      li {

        padding: $gutter * 0.5;
        @include media(mobile){
          padding: 10px;
        }
        a .fab {
          font-size: $icon*3;
        }
        a.facebook {
          color: $facebook;
        }
        a.twitter {
          color: $twitter;
        }
        a.instagram {
          color: $instagram;
        }
        a:hover{
          color: $black;
        }
      }
    }
  }
  &.news {
    margin-top: 0;
    .preview {
      border: none;
      @include media(mobile) {
        margin-bottom: $baseline*1.5;
      }
    }
    @include media(desktop) {
      margin-left: -$gutter*0.5 !important;
      margin-right: -$gutter*0.5 !important;
      .preview {
        padding-left: $gutter*0.5 !important;
        padding-right: $gutter*0.5 !important;
      }
    }
  }
}
