// lots of !important were added here, this needs cleaning

.signup-background {
    .large-input.error {
      display: inline;
      margin-top: 0;
    }
    .error {
      background-color: $white;
      padding: $gutter*0.25;
    }
    .button-large {
      &:hover {
        background-color: $grey;
        border-color: $grey;
      }
    }
}

form.newsletterForm {
  button.error, input.error,  {
    border: $border-thick $error solid !important;
  }

  .error-block {
    border-left: solid $border-thicker $error;
    padding-left: $gutter*0.5;
  }

  .errors {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  .error, .error-message {
    display: block;
    margin-top: $border-thick;
    color: $error !important;
    font-weight: bold;
    padding: 0;
    text-align: left;
    line-height: $baseline;
  }  

  .submitted {
    margin-top: 2em !important;
    font-weight: bold;
    color: white !important;
  }
  .form-group-errors{
    border-left: 5px solid $error;
    padding-left: 15px;
  }

  .input-group-container-middle {
    position: relative;
    ul {
      list-style: none;
      margin-left: 0;
      padding: 0;      
    }
    .large-input{
      height: $button-height;
      border: $border-thick white solid;
      width: calc(100% - #{$button-width + $border-thicker});
      @include media(mobile) {
        width: 100%;
      }
    }
    button {
      position: absolute;
      right: 0;
      @include media(mobile) {
        margin-top: $baseline*0.5;
        position: relative;
        width: 100%;
        max-width: 100%;
      }      
    }
    label {
      color: white;
      display: block;
      text-align: left;
      padding-top: 5px;
    }
    p {
      margin-top: 0px !important;
    }
  }

  div.disclaimer > p {
    @include smaller;
    margin-top: $baseline;
  }

}


/** Checkbox styling **/

input[type="checkbox"]{
  float: left;
  width: 2em;
  height: 2em;
  margin-right: 20px;
  outline: $border-thick $white solid !important;
}
input[type="checkbox"].error {
  outline: $border-thick $error solid !important;
}

.checkbox {
  width: 100%;
  margin-top: $baseline*0.5;
  position: relative;
  display: block;
}

.checkbox input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
}

.checkbox-error label:before {
  border: $border-normal solid $error !important;
  background-color: $white;
}

.checkbox label {
  position: relative;
}
.checkbox label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  border: 2px solid $brand;
  background-color: $white;
}

.checkbox label:after {
  content: '';
  display: block;
  width: 19px;
  height: 8px;
  border-bottom: $border-thicker solid $body-text-colour;
  border-left: $border-thicker solid $body-text-colour;
  -webkit-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  will-change: transform;
  position: absolute;
  top: 7px;
  left: 6px; 
}

.checkbox input[type="checkbox"]:checked ~ label::before {
  color: $brand;
}

.checkbox input[type="checkbox"]:checked ~ label::after {
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}

.checkbox label {
  min-height: 34px;
  display: block;
  padding-left: 40px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  vertical-align: sub;
}
.checkbox label span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: 0;
}