form.newsletterForm {
    padding: 1em;

    background: white;
    input {
        border: $border-thick $brand4 solid;
        @include media(mobile) {
            width: 100%;
        }      
        @include media(tablet) {
            width: 100%;
        }      
        @include media(desktop) {
            width: 30%;
        }
    }
    input.error {
        border: $border-thick $error solid !important;
    }
    label {
        width: 100%;
    }
    .errors {
        margin-top: 1em !important;
        background: white;
        color: $error !important;
        font-weight: bold;
        padding: 0;
        @include media(mobile) {
            width: 100%;
        }      
        @include media(tablet) {
            width: 100%;
        }      
        @include media(desktop) {
            width: 30%;
            margin: auto;
        }
    }

}

.form-group-errors{
    border-left: 5px solid $error;
    padding-left: 15px;
}