// loads of !important in here, needs cleaning


.button-container-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.button-large{
  width: 100%;
  max-width: $button-width;
  background: $brand;
  color: $black;
  font-style: italic;
  font-weight: $bold;
  border: $border-thick solid $brand;
  text-align: center;
  height: $button-height;
  line-height: 2rem;
  &:hover {
    border-color: $brand;
    background-color: $brand;
  }
}

// .button.button-dark{
//   border-color: $brand !important;;
//   background-color: $brand !important;
//   color: #414141 !important;
//   &:hover {
//     background: $grey !important;
//     color: white !important;
//     border-color: $grey !important;
//   }
// }

.button.deactive {
  color: white;
  cursor: default;
  background-color: $grey;
  border-color: $grey;
}