.header-background {
  background-color: $white;
  height: auto;
  position: relative;
  z-index: 20;
  border: $white solid $border-thicker;
  @media print {
    background-color: $white;
    height: auto;
    @include box-shadow(none);
  }
  .header {
    @extend %site-width-container;
    @extend %contain-floats;
    @media print {
      margin: 0;
    }
    .nav {
    @extend %grid-row;
      .logo-wrap {
        // height: $form-height*1.25;
        @include grid-column(1 / 2);
        a.logo-text {
          @media print {
            color: $black;
            font-size: $small;
          }
        }
      }
      ul.nav-links {
        @include grid-column(1 / 2);
        text-align: right;
        margin-top: $baseline*1.5;
        margin-bottom: $baseline*1.5;
        @include media(mobile) {
          text-align: center;
        }
        a {
          color: $body-text-colour;
        }
      }
      span {
        @include small;
        font-size: 0.5em;
        color: $white;
        @media print {
          color: $black;
        }
      }
    }
  }
}