.search-background {
  background-image: url("./components/search-home/two-women-walking.jpg");
  @media print {
    background-image: none;
  }
  background-repeat:  no-repeat;
  background-size: cover;
  background-position-x: 0;
  background-position-y: center;
  height: $baseline*20;
  @include media(mobile) {
    height: auto;
  }
  @include media(tablet) {
    background-position-y: center;
  }
  @include media(desktop) {
    background-position-y: center;
  }
  width: 100%;
  position: relative;
  .overlay {
    background: $overlay-brand;
    @media print {
      background: none;
    }
  }
  .arrow {
    background-image: url("./components/search-home/SSG_Arrow_White.svg");
    // background-image: url("./components/search-home/SSG_Arrow_Green.svg");
    background-repeat:  no-repeat;
    background-size: initial;
    background-position-x: 0;
    background-position-y: center;    
    position: absolute;
    left: -254px;
    // left: -418px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin-top: $baseline*0.25;
    margin-bottom: $baseline*0.25;
  }
  .social {
    background: $white;
    position: absolute;
    right: 0;
    top: $border-thicker;
    padding: $gutter;
    z-index: 150;
    li a span {
      color: $body-text-colour;
    }
    li:last-child {
      margin-right: 0;
    }
  }
  .search-container {
    @extend %site-width-container;
    @extend %contain-floats;
    @include media(mobile) {
      padding-top: $baseline;
      padding-bottom: $baseline;
    }
    @include media(tablet) {
      padding-top: $baseline;
      padding-bottom: $baseline;
    }
    @include media(desktop) {
      padding-top: $baseline*2;
      padding-bottom: $baseline*2;
    }
    @media print {
      padding-top: $baseline;
      padding-bottom: $baseline;
    }
    .greeting, .search-input {
      @extend %grid-row;
      @include border-radius($border-radius);
      position: relative;;
    }
    .greeting {
      @include grid-column(1 / 2);
      z-index: 150;
      @include media(mobile) {
        margin-top: 0;
      }
      h1 {
        font-family: Mohave-Bold;
        font-size: ms(15);
        line-height: $baseline*4;
        color: $body-text-colour;
        color: $brand;
        @include box-sizing(border-box);
        padding: $baseline;
        display: inline-block;
        // background: $white;
        margin-top: 0;
        margin-bottom: $border-thick;
        @include media(mobile){
          width: 100%;
        }
        @media print {
          padding: 0;
        }
      }
    }
    .form {
      @include grid-column(1 / 2);
      margin-bottom: 0;
      @include media(mobile) {
        width: 100%;
      }
      .group.search {
        margin-bottom: 0;
        input, label {
          border: none;
          margin-bottom: 0;
        }     
        .fa-search.search-icon-position  {
          background: $white;
          color: $search;
            &:hover {
            color: $search-hover;
          }
        }
      }
    }
    + main#content .h3 {
      font-weight: $light;
    }
  }
}