.search-background {
  background-image: url("/bike.jpeg");
  @media print {
    background-image: none;
  }
  background-repeat:  no-repeat;
  background-size: cover;
  background-position-x: 0;
  background-position-y: center;
  @include media(mobile) {
    height: auto;
  }
  @include media(tablet) {
    background-position-y: center;
  }
  @include media(desktop) {
    background-position-y: center;
  }
  width: 100%;
  position: relative;
  .overlay {
    background: $overlay-brand;
    @media print {
      background: none;
    }
  }
  .search-container {
    @extend %site-width-container;
    @extend %contain-floats;
    @include media(mobile) {
      padding-top: $baseline;
      padding-bottom: $baseline;
    }
    @include media(tablet) {
      padding-top: $baseline;
      padding-bottom: $baseline;
    }
    @include media(desktop) {
      padding-top: $baseline*2;
      padding-bottom: $baseline*2;
    }
    @media print {
      padding-top: $baseline;
      padding-bottom: $baseline;
    }
    .greeting, .search-input {
      @extend %grid-row;
      @include border-radius($border-radius);
      position: relative;;
    }
    .greeting {
      @include grid-column(1 / 2);
      @include media(mobile) {
        margin-top: 0;
      }
      h1 {
        font-family: Mohave-Bold;
        font-size: ms(12);
        line-height: $baseline*2.5;
        color: $black;
        @include box-sizing(border-box);
        padding: $baseline*4 $baseline*2;
        display: inline-block;
        background: $brand;
        margin-top: 0;
        margin-bottom: $border-thick;
        span {
          color: $white;
        }
        @include media(mobile){
          width: 100%;
        }
        @media print {
          padding: 0;
        }
      }
    }
    .form {
      @include grid-column(1 / 2);
      margin-bottom: 0;
      @include media(mobile) {
        width: 100%;
      }
      .group.search {
        margin-bottom: 0;
        input, label {
          border: none;
          margin-bottom: 0;
        }     
        .fa-search.search-icon-position  {
          background: $white;
          color: $search;
            &:hover {
            color: $search-hover;
          }
        }
      }
    }
    + main#content .h3 {
      font-weight: $light;
    }
  }
}