// so footer looks like it isn't floating
html {
  background-color: $grey-darker;
  @media print {
  	background-color: $white;
  }
}

html, body {
  font-size: ms(0);
  // accessibility requirements do not fall below these
  line-height: $baseline;
  word-spacing: 0.16em;
}

body {
  font-family: $stack;
  -webkit-font-smoothing: antialiased;
  background: $white;
  color: $body-text-colour;
}

.hidden,
.js-enabled .js-hidden {
  display: none;
  visibility: hidden;
}