.banner-background {
  background-image: url("./components/banner/two-cyclists-by-church.jpg");
  border-bottom: 10px solid $brand;
  &.getting-to-school {
    background-image: url("./components/banner/children-walking-to-school.jpg");
  }
  &.challenge {
    background-image: url("./components/banner/cyclists-in-the-forest.jpg");
  }  
  @media print {
    background-image: none;
  }
  background-repeat:  no-repeat;
  background-size: cover;
  background-position-x: 0;
  background-position-y: center;
  height: $baseline*20;
  @include media(mobile) {
    height: auto;
    background-position-x: 60%;
  }
  @include media(tablet) {
    background-position-x: 60%;
  }
  @include media(desktop) {
    background-position-x: 0;
  }
  width: 100%;
  position: relative;
  .overlay {
    background: $overlay-brand;
    @media print {
      background: none;
    }
  }
  .social {
    background: $white;
    position: absolute;
    right: 0;
    top: $border-thicker;
    padding: $gutter;
    z-index: 150;
    li a span {
      color: $body-text-colour;
    }
    li:last-child {
      margin-right: 0;
    }
  }
  .banner-container {
    @extend %site-width-container;
    @extend %contain-floats;
    height: $baseline*20;
    .greeting, .banner-input {
      @extend %grid-row;
      @include border-radius($border-radius);
    }
    .greeting {
      z-index: 150;
      height: $baseline*20;
      @include media(mobile) {
        margin-top: 0;
      }
      position: relative;
      h1 {
        @include grid-column(1 / 2);
        font-family: Mohave-Bold;
        font-size: ms(14);
        line-height: $baseline*4;
        @include box-sizing(border-box);
        padding: $baseline*4;
        display: inline-block;
        margin-top: 0;
        margin-bottom: $border-thick;
        position: absolute;
        left: 150px;
        .one, .two, .three {
          display: block;
        }
        @include media(mobile){
          font-size: ms(8);
          line-height: $baseline*1.75;
          padding: 0 $gutter*0.5;
          position: absolute;
          top: 35%;
          left: 425px;
        }
        @include media(tablet){
          font-size: ms(10);
          line-height: $baseline*2;
          padding: 0 $gutter*0.5;
          position: absolute;
          top: 35%;
          left: 325px;
        }
        @include media(desktop){
          font-size: ms(14);
          line-height: $baseline*3.5;
          padding: 0 10%;
          position: absolute;
          top: 20%;
          left: 150px;
        }                
        @media print {
          padding: 0;
        }
      }
      .arrow {
        background-image: url("./components/banner/SSG_Arrow_White.svg");
        
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          background-image: none;  
        }
        background-repeat:  no-repeat;
        background-size: initial;
        background-position-x: 0;
        background-position-y: center;
        position: absolute;
        // left: -254px;
        // left: -418px;
        left: 0;
        left: -150px;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        margin-top: 0;
        margin-bottom: 0;
        @include media(mobile) {
          background-image: url("./components/banner/SSG_Triangle_White.svg");
          left: -400px;
          top: 190px;
          .page-heading {
            margin-top: 50px;
            margin-left: -20px;
          }
        }
        @include media(tablet) {
          left: -325px;
        }
        @include media(desktop) {
          left: -150px;
        }                    
      }      
    }
    .form {
      @include grid-column(1 / 2);
      margin-bottom: 0;
      @include media(mobile) {
        width: 100%;
      }
      .group.search {
        margin-bottom: 0;
        input, label {
          border: none;
          margin-bottom: 0;
        }     
        .fa-search.banner-icon-position  {
          background: $white;
          color: $search;
            &:hover {
            color: $banner-hover;
          }
        }
      }
    }
    + main#content .h3 {
      font-weight: $light;
    }
  }
}

div.ms-ie-notification {
  display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  div.ms-ie-notification {
    display: block;
    text-align: center;
    background-color: #B11B1B;
    p {
      padding: 0.5em;
      color: white !important;
      font-size: 16pt;
      font-weight: bold;
    }
  }
}