%site-width-container {
  @include media(mobile) {
    padding-left: $outer-grid-margin;
    padding-right: $outer-grid-margin;
  }
  @include media(tablet) {
    padding-left: $outer-grid-margin*1.5;
    padding-right: $outer-grid-margin*1.5;
  }
  @include media(desktop) {
    padding-left: $outer-grid-margin*2;
    padding-right: $outer-grid-margin*2;
    margin-left: auto;
    margin-right: auto;
    max-width: $site-width;
  }
}

%outdent-to-full-width {
  margin-left: -$gutter-half;
  margin-right: -$gutter-half;

  @include media(tablet) {
    margin-left: -$gutter;
    margin-right: -$gutter;
  }
}

%grid-row {
  @extend %contain-floats;
  @include media(mobile) {
    margin-left: (-$gutter);
    margin-right: (-$gutter);
  }
  @include media(tablet) {
    margin-left: (-$gutter*0.5);
    margin-right: (-$gutter*0.5);
  }
  @include media(desktop) {
    margin-left: (-$gutter);
    margin-right: (-$gutter);
  }
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .container{
    margin: 0 auto $baseline*2 auto;
    max-width: $site-width + $gutter;
  }
}

@media print {
  .container, #content, .main {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    float: none;
  }
}

// defined as default in print settings
@page {
  margin: 1cm 0.5cm 1.5cm 0.5cm;
}

main#content {
  background: $white;
  padding-bottom: $baseline;
  .container {
    @extend %site-width-container;
    outline: none;
    .main {
      @extend %grid-row;
      // head is for the full width area showing contents on information pages
      .head {
        @include grid-column(1);
      }
      .content, .intro, .function {
        @include grid-column(8 / 12);
        &.only {
          @include grid-column(1);
        }
      }
      &.only {
        .content, .intro, .function {
          @include grid-column(1);
        }
      }
      .side {
        // used for step-by-step within information pages
        @include grid-column(4 / 12);
      }
    }
  }
}

.side {
  margin-top: $baseline*1.5;
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  }
  @include media(mobile) {
    @include grid-column(1);
    margin-top: $baseline;
  }
  @include media(tablet) {
    @include grid-column(1);
  }
  @include media(desktop) {
    @include grid-column(3 / 12);
  }
}

.news-page,
.article-page {
  img {
    height: auto;
    margin-bottom: $baseline;
    width: 100%;
  }
}


.notice {
  background-color: lighten($brand, 40%);
  p{
    text-align: center;
    padding: 0px 40px 30px 40px;
    margin-top: 0px;
  }   
  h2, h3{
    text-align: center;
    margin-top: 20px;
    padding: 20px 40px 0px 40px;
  }
  @include media(mobile) {
    width: 100%;
  }
  @include media(tablet) {
    width: 30%;
  }
  @include media(desktop) {
    width: 30%;
  }
}

.notice-side {
  margin: 1%;
  margin-left: 3%;
  float: right;
}
.notice-middle{
  margin: 3% 0% 3% 0%;
  width: 100%;
  text-align: center;
}

.text-block{
  margin-top: $baseline;
}

.content{
  margin-bottom: $baseline * 2;
}

blockquote {
    background: lighten($grey, 45%);
    border-left: 10px solid #ccc;
    margin: 5% 10% 5% 10%;
    padding: 20px;
    quotes: "\201C""\201D""\2018""\2019";
    &:before {
      color: #ccc;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
      }
    p {
      display: inline;
      font-size: 1.2em;
    }

  footer {
    margin-top: 10px;
    font-weight: bold;

  }
}


/* Create two equal columns that floats next to each other */
.column {
  float: left;
  margin: 0% 3% 0 0;
  @include media(mobile) {
    width: 100%;
  }
  @include media(tablet) {
    width: 40%;
    height: 18rem;
  }
  @include media(desktop) {
    width: 30%;
  }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.text-align-center{
  text-align: center;
}

p.bold{
  font-weight: bold;
}